{% extends 'webinator/base.html' %}
{% load url from future %}
{% load thumbnail %}
{% load staticfiles %}
{% block title %}Kiosk{% endblock %}
{% block extrascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.item').bind('click', function (e) {
                e.preventDefault();
                var url = "{% url 'item_info' '123' %}".replace('123', $(this).attr('data-pk'))
                $.get(url, function(data) {
                    $('<div class="modal hide fade">' + data + '</div>').modal({
                        backdrop: true,
                        keyboard: true
                    }).css('width', '70%').css('left', '15%').css('margin', 'auto auto auto auto').css('font-size', '20px'). css('line-height', '23px');
                }).success(function() { $('input:text:visible:first').focus(); });
            });
        });
    </script>
{% endblock %}

{% block extrastyle %}
    <style type="text/css">
        p {
            font-size: 1.1em;
            line-height: 1.5em;
        }
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        body{
            padding-left: 10px;
        }
        .thumb {
            padding-right: 10px
        }
    </style>
{% endblock %}

{% block container %}
    {% thumbnail exhibit.image "300x300" as im %}
        <img class="thumb" align="left" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    <span><h1>{{ exhibit.name }}</h1>
    <h2>{{ exhibit.date_begin }} - {{ exhibit.date_end }}</h2></span>
    <p>{{ exhibit.description }}</p><hr>

<div class="span4">&nbsp;</div>
    {% for item in item_list %}
        <div class="span2 item" style="cursor: pointer; text-align: center" data-pk={{ item.pk }}>
        {% thumbnail item.photo "150x150" as im %}
            <img class="thumb" align="left" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
        <p><strong>{{ item.title }}</strong></p>
        </div>
    {% endfor %}




{% endblock %}

