{% extends 'webinator/base.html' %}
{% load url from future %}
{% load thumbnail %}
{% block title %}
    nigr
{% endblock %}
{% block extrastyle %}
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
{% endblock %}
{% block container %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 ">
            <div class="hero-unit">
                <h1>Museum Kiosk</h1>
                <p>This is the museum kiosk. Click one of the bottom exhibit watch the magic.</p>
            </div>
            <div class="row-fluid">
            {% for exhibit in exhibition_list %}
                    {% if forloop.counter0|divisibleby:2 and forloop.counter0 != 0 %}
                        </div>
                        <div class="row-fluid">
                    {% endif %}
                    <div class="span6">
                        <h2>{{ exhibit.name }}</h2>
                        {% thumbnail exhibit.image "200x200" as im %}
                            <img style="padding-right: 10px" align="left" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% endthumbnail %}
                        <p>{{ exhibit.description }}</p>
                        <p style="float:right"><a class="btn" href="{% url 'exhibit_item_list' exhibit.pk %}">View details</a></p>
                        </div>
                {% endfor %}
            </div><!--/span-->
        </div>
    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>

</div><!--/.fluid-container-->
{% endblock %}
