{% load thumbnail %}
    <script>
        $(".description_tag").click(function(){
            var m_pk = $(this).data("pk");
           var url = "{% url 'scan_info' '123' %}".replace('123', m_pk);
           $("#description").load(url);

        });
        $(".save").click(function(){
            var pk = $(this).data("pk");
            var url = "{% url 'edit_action' '123' %}".replace('123', pk);
            $.post(url,{comment: $(".comment").val()});
        });
        /**$(".close").click(function(){
            $(".modal").close();
        });**/


    </script>

    <div class="modal-header document" style="text-align: center; background: #f5f5f5" >
        <h3 id="title"></h3>
    </div>
    <div class="modal-body">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#photo" data-toggle="tab">Photo</a>
                </li>
                {% if item.scan %}
                <li class="description_tag" data-pk="{{ item.scan.content.pk }}" >
                   <a href="#description" data-toggle="tab">Description</a>
                </li>
                {% endif %}
            </ul>
            <div id="photo" class="tab-content">
                <div class="tab-pane active">
                    <div class="row-fluid">
                        {% thumbnail item.photo "300x300" as im %}
                            <img style="padding-right: 10px" align="left" src="{{ im.url }}" />
                        {% endthumbnail %}
                            <textarea style="text-align: left; width: 300px" class="comment" rows="3">{{ item.comment.content }}</textarea>
                     </div> <!-- /row fluid -->

                    <button id="save_btn" data-pk="{{ item.pk }}" class="btn btn-large  btn-warning save" data-dismiss="modal" aria-hidden="true">Save</button>
                    <button class="btn btn-large  btn-warning close" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
                <div id="description" class="tab-pane">

                </div>
            </div>
        </div> <!-- /tabbable -->

    </div>

