{% load thumbnail %}
{% load staticfiles %}
<script src="{% static "js/utils.js" %}" type="text/javascript"/>

<script>

   $(".description_tag").click(function(){
        var m_pk = $(this).data("pk");
        var url = "{% url 'scan_info' '123' %}".replace('123', m_pk);
        $("#description").load(url);
    });
    $(".save").click(function(){
        var pk = $(this).data("pk");
        var url = "{% url 'edit_action' '123' %}".replace('123', pk);
        $.post(url,{comment: $(".comment").val()});
    });



</script>
<style type="text/css">
    .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus{
        background-color:#f5f5f5 ;
    }
</style>
    <div class="modal-header document" style="text-align: center; background: #f5f5f5" >
                {% if item.scan %}
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#photo" data-toggle="tab">Photo</a>
                </li>

                <li class="description_tag" data-pk="{{ item.scan.content.pk }}" >
                   <a href="#description" data-toggle="tab" >Description</a>
                </li>

            </ul>
        {% endif %}
    </div>
    <div class="modal-body">
        <div class="tabbable tabs-below">
            <div  class="tab-content">
                <div id="photo" class="tab-pane active pagination-centered">
                    <div class="row-fluid test">
                        {% thumbnail item.photo "300x300" as im %}
                            <img style="padding-right: 10px"  src="{{ im.url }}" />
                        {% endthumbnail %}
                    <br/>
                            <textarea style="text-align: left;" width=""  class="comment" rows="3">{{ item.comment.content }}</textarea>
                     </div> <!-- /row fluid -->

                </div>
                <div id="description" class="tab-pane">
                </div>

            </div>
        </div> <!-- /tabbable -->
    </div>
    <div class="modal-footer">
        <button id="save_btn" data-pk="{{ item.pk }}" class="btn  btn-warning save" data-dismiss="modal" aria-hidden="true">Save</button>
        <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>

