{%  load staticfiles %}
{% load url from future %}

<script src="{% static "js/image_viewer.js" %}" />
<script>
    $(function(){
        $(".btn").click(function(){
            var pk=this.getAttribute("pk");
            $.get("action/{{ exp_id }}/delete/");
        })
    });
</script>
<ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
    {% for item in list %}
        <li class="ui-widget-content ui-corner-tr">
            <h5 class="ui-widget-header">{{ item.pk }} </h5>

            {% if item.photo != None %}
                <img src="{{ item.photo }}" alt="{{ item.comment }}" width="96" height="72" />
            {% else %}
                <p>{{ item.comment }}</p>
            {% endif%}

            <a href="{{ item.photo }}" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
            <a title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
        </li>
    {% endfor %}
</ul>

<div id="delete_button" class="btn-group pull-left">
    <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" pk={{ exp_id }} >
        Delete this action
    </button>
</div>