{% load staticfiles %}
{% load thumbnail %}
{% load amuse_math %}
{% block title %}
{% endblock %}
{% block extrameta %}

    <meta property="og:title" content="aMuse Photobook" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ site_url }}{{ MEDIA_URL }}{% static "img/timeline/logo.png" %}" />
    <meta property="og:description" content="Take a look at my aMuse experience" />
{% endblock %}
{% block extrastyle %}
    <link href="{% static "css/impress-demo.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <style type="text/css">

    h1{
        font-size:50px;
        text-align: center;
    }
    p{
        font-size:20px;
        text-align: center;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    img{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    h2{
        color:#ad6704;
    }


    </style>



{% endblock %}
{% block extrascript %}

{% endblock %}


{% block container %}

<div id="impress">
    {% for obj in action_list %}
        {% if forloop.counter0|module:5 == 0 %}
            <div id="{{ forloop.counter0 }}" class="step" data-x="{{ forloop.counter0|mult:20000 }}" data-y="{{ forloop.counter0|mult:-1000 }}" data-rotate="{{ forloop.counter0|mult:100 }}" data-scale="4">
        {% elif forloop.counter0|module:5 == 1 %}
            <div id="{{ forloop.counter0 }}" class="step" data-x="{{ forloop.counter0|mult:16000 }}" data-y="{{ forloop.counter0|mult:-2000 }}" data-rotate="{{ forloop.counter0|mult:200 }}" data-scale="4">
        {% elif forloop.counter0|module:5 == 2 %}
            <div id="{{ forloop.counter0 }}" class="step" data-x="{{ forloop.counter0|mult:1000 }}" data-y="{{ forloop.counter0|mult:-4000 }}" data-rotate="{{ forloop.counter0|mult:100 }}" data-scale="4">
        {% elif forloop.counter0|module:5 == 3 %}
            <div id="{{ forloop.counter0 }}" class="step" data-x="{{ forloop.counter0|mult:7000 }}" data-y="{{ forloop.counter0|mult:-6000 }}" data-rotate="{{ forloop.counter0|mult:200 }}" data-scale="4">
        {% else%}
            <div id="{{ forloop.counter0 }}" class="step" data-x="{{ forloop.counter0|mult:12000 }}" data-y="{{ forloop.counter0|mult:-9000 }}" data-rotate="{{ forloop.counter0|mult:100 }}" data-scale="4">
        {% endif %}
        <center>
        {% if obj.scan %}
            <h1>{{ obj.scan.content.title }}</h1>
            {%if obj.photo %}
                {% thumbnail obj.scan.content.photo "350x350" as im %}
                    <img style="padding-right: 10px" src="{{ im.url }}" />
                {% endthumbnail %}
                {% thumbnail obj.photo "350x350" as im %}
                    <img style="padding-right: 10px" src="{{ im.url }}" />
                {% endthumbnail %}
            {% else %}
                {% thumbnail obj.scan.photo.content "350x350" as im %}
                    <legend>
                        {{ obj.scan.content.title }}
                    </legend>
                    <img style="padding-right: 10px" src="{{ im.url }}" />
                {% endthumbnail %}
            {% endif %}
            <p>{{ obj.scan.content.description }}</p>
        {% elif obj.photo %}
            {% thumbnail obj.photo "350x350" as im %}
                <img style="padding-right: 10px" src="{{ im.url }}" />
            {% endthumbnail %}
        {% endif %}
        {% if obj.comment %}
            <h3>Comment: {{ obj.comment.content }}</h3>
        {% endif %}
        </center>
    </div>
    {% endfor %}
    <div id="tiny" class="step" data-x="6000" data-y="2325" data-z="-5000" data-rotate="300" data-scale="1">
        <h2>Created by<strong> aTeam</strong></h2>
        <img src="{% static "img/timeline/logo.png" %}" style="width: 400px"/>
        <p style="color: red">In attesa del logo ultimato!</p>
        <h2 style="color: red">Quindi in attesa di Sosi!!! </h2>
        <p style="color: red">un'attesa che potrebbe durare anni, anni e molti anni ancora</p>
        <button class="btn btn-large btn-primary btn-warning" onclick="window.location.href='{% url 'index' %}'">Back to Home</button>
    </div>

</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
    if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
    }
</script>

<script src={% static "js/impress.js" %}></script>
<script>impress().init();</script>


<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9117370-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>


{%  endblock %}
