{% extends 'webinator/base.html' %}
{% load staticfiles %}

{% block title %}
    Timeline preview
{% endblock %}
{% block extrastyle %}
    <link href="{% static "css/timeline_style.css" %}" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        a {
            color: #646464;
            text-decoration: none;
        }
        a:hover {
            color: #FF7A00;
            text-decoration: none;
        }
        #dates .selected{
            color: #FF7A00;
            text-decoration: none;
        }

        #issues li h1 {
            color: #FF7A00;
            text-align: center;
        }

        #issues li p {
            color:#000000;
            margin-right: 0px;
            text-align: left;
            margin-left: 50%;
        }

        #issues li.selected img{
            margin-top: 2%;
        }



    </style>
{% endblock %}
{% block extrascript %}
    <script src="{% static "js/jquery.timelinr-0.9.52.js" %}" ></script>
    <script>
        $(function(){
            $().timelinr({
                orientation: 'horizontal',
                // value: horizontal | vertical, default to horizontal
                containerDiv: '#timeline',
                // value: any HTML tag or #id, default to #timeline
                datesDiv: '#dates',
                // value: any HTML tag or #id, default to #dates
                datesSelectedClass: 'selected',
                // value: any class, default to selected
                datesSpeed: 'normal',
                // value: integer between 100 and 1000 (recommended) or 'slow', 'normal' or 'fast'; default to normal
                issuesDiv : '#issues',
                // value: any HTML tag or #id, default to #issues
                issuesSelectedClass: 'selected',
                // value: any class, default to selected
                issuesSpeed: 'fast',
                // value: integer between 100 and 1000 (recommended) or 'slow', 'normal' or 'fast'; default to fast
                issuesTransparency: 0.2,
                // value: integer between 0 and 1 (recommended), default to 0.2
                issuesTransparencySpeed: 500,
                // value: integer between 100 and 1000 (recommended), default to 500 (normal)
                prevButton: '#prev',
                // value: any HTML tag or #id, default to #prev
                nextButton: '#next',
                // value: any HTML tag or #id, default to #next
                arrowKeys: 'true',
                // value: true/false, default to false
                startAt: 1,
                // value: integer, default to 1 (first)
                autoPlay: 'false',
                // value: true | false, default to false
                autoPlayDirection: 'forward',
                // value: forward | backward, default to forward
                autoPlayPause: 5000
                // value: integer (1000 = 1 seg), default to 2000 (2segs)< });
            });
        })

    </script>
    <script type="text/javascript" language="javascript">

        function PlayStop(val)
        {
            var listArray = $('#dates li');
            var selectedLI = listArray.index( listArray.find('.selected').parent() );

            $().timelinr({
                startAt:selectedLI+1
            });

            if(val=="Play")
            {
                document.button.imgPlayStop.title="Stop";
                document.button.imgPlayStop.src="{% static "img/timeline/pause.png" %}";
                $().timelinr({
                    autoPlay: 'true',
                    autoPlayDirection: 'forward',
                    autoPlayPause: 5000,
                    startAt:selectedLI+1
                });
            }
            else if(val=="Stop")
            {
                document.button.imgPlayStop.title="Play";
                document.button.imgPlayStop.src="{% static "img/timeline/play.png" %}";
                $().timelinr({
                    autoPlayDirection:null,
                    startAt:selectedLI+1,
                    autoPlayPause: 5000
                });
            }
        }

        function BeginEnd(val)
        {
            if(val=="imgBegin")
            {
                $().timelinr({
                    startAt:1
                });
            }
            else
            {
                var a_elements = dates.getElementsByTagName("a");
                $().timelinr({
                    startAt:a_elements.length
                })
            }
        }



    </script>

{% endblock %}

{% block state %}
    <div class="btn-group pull-right">
        <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
            Hello, {{ user.username }}
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu pull-right">
            <li>
                <a href="/webinator/logout">Log out</a>
            </li>
            <li><a href="/webinator/">Back to visits</a></li>
        </ul>
    </div>
{% endblock %}

<center>
{% block container %}
    <div class="container-fluid" style="margin-left: 10%;" >
                <div class="span9">
                    <div class="hero-unit" style="width:100%">
                        <div id="inner_wrap">
                            <div id="timeline" style="background-color: #eeeeee; height: auto; margin-left: -60px;">
                                <ul id="dates">
                                    <li><a href="#1">1</a></li>
                                    <li><a href="#2">2</a></li>
                                    <li><a href="#3">3</a></li>
                                </ul>
                                <ul id="issues">
                                    <a href="#" id="next">+</a>
                                    <a href="#" id="prev" style="display: none;">-</a>
                                    <li id="1">
                                        <h1>TITOLO</h1>
                                        <img src="{% static "img/timeline/quadro.jpg" %}"/>
                                        <p> Le voci in vetrina sono voci che i wikipediani ritengono particolarmente complete, corrette ed accurate nonché piacevoli da leggere.
                                            Per segnalare una voce da aggiungere alla lista o da eliminare da questa pagina indicalo in voci segnalate, dove sarà giudicata per stile, prosa, esaustività e neutralità.D
                                            e voci in vetrina sono voci che i wikipediani ritengono particolarmente complete, corrette ed accurate nonché piacevoli da leggere.
                                            Per segnalare una voce da aggiungere alla lista o da eliminare da questa pagina indicalo in voci segnalate, dove sarà giudicata per stile, prosa, esaustività e neutralità.D

                                        </p>
                                    </li>

                                    <li id="2">
                                        <h1>TITOLO 1</h1>
                                        <img src="{% static "img/timeline/quadro1.jpg" %}"/>
                                        <p> Le voci in vetrina sono voci che i wikipediani ritengono particolarmente complete, corrette ed accurate nonché piacevoli da leggere.
                                            Per segnalare una voce da aggiungere alla lista o da eliminare da questa pagina indicalo in voci segnalate, dove sarà giudicata per stile, prosa, esaustività e neutralità.D
                                            e voci in vetrina sono voci che i wikipediani ritengono particolarmente complete, corrette ed accurate nonché piacevoli da leggere.
                                            Per segnalare una voce da aggiungere alla lista o da eliminare da questa pagina indicalo in voci segnalate, dove sarà giudicata per stile, prosa, esaustività e neutralità.D

                                        </p>
                                    </li>

                                    <li id="3">
                                        <h1>TITOLO 2</h1>
                                        <img src="{% static "img/timeline/quadro2.jpg" %}"/>
                                        <p> Le voci in vetrina sono voci che i wikipediani ritengono particolarmente complete, corrette ed accurate nonché piacevoli da leggere.
                                            Per segnalare una voce da aggiungere alla lista o da eliminare da questa pagina indicalo in voci segnalate, dove sarà giudicata per stile, prosa, esaustività e neutralità.D
                                            e voci in vetrina sono voci che i wikipediani ritengono particolarmente complete, corrette ed accurate nonché piacevoli da leggere.
                                            Per segnalare una voce da aggiungere alla lista o da eliminare da questa pagina indicalo in voci segnalate, dove sarà giudicata per stile, prosa, esaustività e neutralità.D

                                        </p>
                                    </li>

                                </ul>
                                <br>
                                <center>
                                    <form name='button' style="cursor: pointer; ">
                                        <img src="{% static "img/timeline/begin.png" %}" width="50px" title="Go to Start" name="imgBegin" onclick="BeginEnd(this.name)" >
                                        <img src="{% static "img/timeline/play.png" %}" width="60px" title="Play" name="imgPlayStop" onclick="PlayStop(this.title)" >
                                        <img src="{% static "img/timeline/end.png" %}" width="50px" title="Go to End" name="imgEnd" onclick="BeginEnd(this.name)" >
                                    </form>
                                </center>
                            </div><!-- div timeline -->
                        </div><!-- div inner wrap -->
                    </div><!-- hero unit -->
                </div><!--/span-->
    </div><!--/row-->


{%  endblock %}
</center>