
{% load staticfiles %}

{% block title %}
{% endblock %}
{% block extrastyle %}
    <link href="{% static "css/impress-demo.css" %}" rel="stylesheet" />
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <style type="text/css">

    h1{
        font-size:50px;
        text-align: center;
    }
    p{
        font-size:20px;
        text-align: center;
        text-align: center;
        margin-top: 15px;
    }
    img{
        text-align: center;
    }


    </style>



{% endblock %}
{% block extrascript %}

{% endblock %}


{% block container %}

<div id="impress">

    <div id="1" class="step" data-x="-500" data-y="-850" data-rotate="500" data-scale="6">

        <center>
        <h1> Titolo 1</h1>
            <img src="{% static "img/timeline/quadro.jpg" %}" style="width: 400px"/>
        <p> Le voci in vetrina sono voci che i wikipediani ritengono particolarmente complete, corrette ed accurate nonché piacevoli da leggere.
            Per segnalare una voce da aggiungere alla lista o da eliminare da questa pagina indicalo in voci segnalate, dove sarà giudicata per stile, prosa, esaustività e neutralità.D
            e voci in vetrina sono voci che i wikipediani ritengono particolarmente complete, corrette ed accurate nonché piacevoli da leggere.
            Per segnalare una voce da aggiungere alla lista o da eliminare da questa pagina indicalo in voci segnalate, dove sarà giudicata per stile, prosa, esaustività e neutralità.D

        </p>
        </center>

    </div>

    <div id="2" class="step" data-x="3500" data-y="-850" data-rotate="300" data-scale="6">

        <center>
            <h1> Titolo 2</h1>
            <img src="{% static "img/timeline/quadro1.jpg" %}" style="width: 400px"/>
            <p> Le voci in vetrina sono voci che i wikipediani ritengono particolarmente complete, corrette ed accurate nonché piacevoli da leggere.
                Per segnalare una voce da aggiungere alla lista o da eliminare da questa pagina indicalo in voci segnalate, dove sarà giudicata per stile, prosa, esaustività e neutralità.D
                e voci in vetrina sono voci che i wikipediani ritengono particolarmente complete, corrette ed accurate nonché piacevoli da leggere.
                Per segnalare una voce da aggiungere alla lista o da eliminare da questa pagina indicalo in voci segnalate, dove sarà giudicata per stile, prosa, esaustività e neutralità.D

            </p>
        </center>

    </div>


    <div id="3" class="step" data-x="7500" data-y="-850" data-rotate="600" data-scale="6">

        <center>
            <h1> Titolo 3</h1>
            <img src="{% static "img/timeline/quadro2.jpg" %}" style="width: 400px"/>
            <p> Le voci in vetrina sono voci che i wikipediani ritengono particolarmente complete, corrette ed accurate nonché piacevoli da leggere.
                Per segnalare una voce da aggiungere alla lista o da eliminare da questa pagina indicalo in voci segnalate, dove sarà giudicata per stile, prosa, esaustività e neutralità.D
                e voci in vetrina sono voci che i wikipediani ritengono particolarmente complete, corrette ed accurate nonché piacevoli da leggere.
                Per segnalare una voce da aggiungere alla lista o da eliminare da questa pagina indicalo in voci segnalate, dove sarà giudicata per stile, prosa, esaustività e neutralità.D

            </p>
        </center>

    </div>

    <div id="tiny" class="step" data-x="2025" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
        <h2>Created by<strong> aTeam</strong></h2>
        <img src="{% static "img/timeline/logo.png" %}" style="width: 400px"/>
        <p style="color: red">In attesa del logo ultimato!</p>
        <h2 style="color: red">Quindi in attesa di Sosi!!! </h2>
        <p style="color: red">un'attesa che potrebbe durare anni, anni e molti anni ancora</p>
        <button class="btn btn-large btn-primary btn-warning" onclick="window.location.href='localhost:8000/webinator/'">Back to Home</button>


    </div>



</div>

<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>
<script>
    if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
    }
</script>

<script src={% static "js/impress.js" %}></script>
<script>impress().init();</script>


<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9117370-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>


{%  endblock %}
