{% extends 'webinator/base.html' %}
{% load staticfiles %}

{% block title %}
    Welcome {{ user.username }}
{% endblock %}
{% block extrastyle %}
   <link href="{% static "css/timeline_style.css" %}" rel="stylesheet">
   <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .nav-header-trash{
            color: red;
        }
        #trash-title{
            background-color: #ffffff;
        }
        #gallery { float: left; width: 65%; min-height: 12em; }
        .gallery.custom-state-active { background: #eee; }
        .gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
        .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
        .gallery li a { float: right; }
        .gallery li a.ui-icon-zoomin { float: left; }
        .gallery li img { width: 100%; cursor: move; }

        #trash { float: right; width: 32%; min-height: 18em; padding: 1%; }
        #trash h4 { line-height: 16px; margin: 0 0 0.4em; }
        #trash h4 .ui-icon { float: left; }
        #trash .gallery h5 { display: none; }

    </style>
{% endblock %}
{% block extrascript %}
    <script src="{% static "js/jquery.timelinr-0.9.52.js" %}" ></script>
    <script>
        $(function(){
           $("#visit").click(function(){
                $("#visit_title").text($("#visit").text());
           });
           $(function(){
               $("#draggable").draggable();
               $("#trash").droppable({
                           drop:function(event,ui){
                               alert("dragged");
                               $(this).find("p");

                           }
                       });
           });
        });
    </script>
{% endblock %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

{% block state %}
    <div class="btn-group pull-right">
        <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
            Hello, {{ user.username }}
        <span class="caret"></span>
        </button>

        <ul class="dropdown-menu pull-right">
            <li>
                <a href="/webinator/logout">Log out</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block container %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">My visits</li>
                        <li><a id="visit" href="#1">Visita al muse</a></li>
                    {% for vis in visit_confirmed %}
                        <li><a href="#">{{ vis.date }}</a></li>
                    {% endfor %}
                    <li class="nav-header">Visits to be confirmed</li>
                    {% for vis in visit_not_confirmed %}
                        <li><a href="#">{{ vis.date }}</a></li>
                    {% endfor %}
                    <li class="nav-header">Sidebar</li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
            </div><!--/.well -->
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header nav-header-trash">Trash</li>
                <li id="trash-title">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                </li>
            </ul>
        </div>
        </div>
        <div class="span9">
            <h1 id="visit_title"></h1>
            <div class="hero-unit">
                <div class="row">
                    <div class="ui-widget ui-helper-clearfix">
                        <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
                            <li class="ui-widget-content ui-corner-tr">
                                <h5 class="ui-widget-header">T.A.R.D.I.S</h5>
                                <img src="{% static 'img/images.jpeg' %}" alt="Tardis" width="96" height="72" />
                                <a href="{% static 'img/images.jpeg' %}" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
                                <a title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- row -->
            </div><!-- hero unit -->
        </div><!--/span-->
    </div><!--/row-->

    <hr>

    <footer>
        <p>&copy; aTeam 2013</p>
    </footer>

</div><!--/.fluid-container-->

{% endblock %}
<!--
                    test photos
                     <div id="draggable" class="span3">
                        <h4>1</h4>
                        <img src="{% static 'img/angry_cat_face.jpg' %}"  />
                        <p>Some description</p>
                    </div>
                    <div class="span3">
                        <h4>2</h4>
                        <img src="{% static 'img/images.jpeg' %}" width="150" height="150" />
                        <p>Time And Relative Dimensions In Space</p>
                    </div> -->