{% extends "webinator/base.html" %}
{% block title %}Setting New password{% endblock %}
{% block extrastyle %}
    <style type="text/css">
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }


    </style>
{% endblock %}
{% block extrascript %}
    <script type="text/javascript">
    $(document).ready(function(){
        $('#removeError').click(function(){
            $('#spanErrors').fadeOut(400)
        });

    });
    </script>
{% endblock %}
{% block container %}
    <div class="container-fluid" style="height: 100%">
        <div class="row-fluid" style="height: 25%"><div class="span12"></div></div>
        <div class="row-fluid">
            <div class="span2"></div>
            <div class="span8">


            {% if validlink %}
                <h1>Reset your password</h1>

                <p style="font-size: 14pt">Please enter your new password twice, so we can verify you typed it in correctly.</p>

        <form action="" method="post">
            <div class="row-fluid">

            {% if form.new_password2.errors %}
                <div class="alert alert-error span5" id="spanErrors">

                {% for error in form.new_password2.errors %}
                    <strong>{{ error|escape }}</strong>
                    <a style="float:right"class="close" id="removeError">×</a>
                {% endfor %}
                </div>

            {% endif %}
        </div>
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="row-fluid">
                <label for="id_new_password1">New password:</label>
                    {{ form.new_password1 }}
                <label for="id_new_password2">Confirm password:</label>
                    {{ form.new_password2 }}
            </div>
            <div class="row-fluid">
                <input type="submit" value="Change my password" class="btn btn-primary"/>
            </div>
        </form>
    {% else %}
            <div class="row-fluid">
                <div class="span12">
                    <h1>Password reset unsuccessful</h1>
                    <p>The password reset link was invalid,
                        possibly because it has already been used. <br />
                        Please request a new password reset.</p>
                </div>
            </div>
            <div class="row-fluid">
                    <a href="{% url 'login' %}" class="btn btn-primary">Return to login page</a>

    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}